.about {
	width: 100%;
	padding: 0;
	padding-bottom: 100px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: #fff;
	padding: 80px 0 120px;
}

.about__heading {
	font-size: 60px;
}

.about__profits {
	max-width: 1260px;
	display: flex;
	justify-content: space-between;
}

.about__paragraph {
	max-width: 680px;
	margin: 30px 0;
}

.about__profit {
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-shadow: 0 0 0 rgba(23, 38, 47, .3), inset 0 0 0 1px #d7e5f4;
}

.profit__number {
	background: #0090f0;
	cursor: pointer;
	color: white;
	font-size: 36px;
	font-weight: 700;
	padding: 0;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	box-shadow: -1px 4px 10px -2px rgb(0, 0, .2);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profit__paragraph {
	margin-top: 25px;
}
