

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}


*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cd-header {
	position: relative;
	height: 150px;
	background-color: #70e5cd;
}
.cd-header h1 {
	color: #ffffff;
	line-height: 150px;
	text-align: center;
}

.filter__button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.filter__button .button {
	margin: 0;
	padding: 14px 22px;
}


@media only screen and (min-width: 1170px) {
	.cd-header {
		height: 180px;
	}
	.cd-header h1 {
		line-height: 180px;
	}
}

.cd-main-content {
	position: relative;
	/* min-height: 100vh; */
}
.cd-main-content:after {
	content: "";
	display: table;
	clear: both;
}

/* --------------------------------

xfilter

-------------------------------- */
.cd-filter {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: #ffffff;
	box-shadow: 4px 4px 20px transparent;
	z-index: 2;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
	-moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
	transition: all 0.3s;
}

.cd-filter::before {
	/* top colored bar */
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #0090f0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	z-index: 2;
}

.cd-filter form {
	padding: 70px 20px 0;
	border: 2px solid #0090f0;
	border-radius: 20px;
	box-shadow: 0 20px 40px rgba(23, 38, 47, .3), inset 0 0 0 1px #d7e5f4;
}
.cd-filter .cd-close {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	width: 60px;
	color: #ffffff;
		text-align: center;
	background: #444444;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
	z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
	background: #666666;
}
.cd-filter.filter-is-visible {
	visibility: visible;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.cd-filter.filter-is-visible .cd-close {
	opacity: 1;
}

.cd-filter-trigger {
	color: #fff !important;
	overflow: visible !important;
}

@media all and (max-width: 660px) {
	.cd-filter-trigger {
		font-size: 18px;
	}
}

@media all and (max-width: 1060px) {
	.cd-main-content{
		max-width: 100%;
		width: 290px
	}

	.cd-main-content {
		margin: 0 auto;
	}
}


@media only screen and (max-width: 1170px) {
	/* .cd-filter {
		width: 40%;
	} */
	.cd-filter form {
		padding: 70px 10% 0;
	}
}

.cd-filter-trigger {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	line-height: 50px;
	width: 60px;
	/* image replacement */
	overflow: hidden;
	text-indent: 50px;
	color: transparent;
	white-space: nowrap;
	background: transparent url("./../../assets/icons/filter.svg") no-repeat center center;
	z-index: 3;
}

.cd-filter-trigger:hover {
	color: #fff;
}

.cd-filter-trigger.filter-is-visible {
	pointer-events: none;
}
@media only screen and (min-width: 1170px) {
	.cd-filter-trigger {
		width: auto;
		left: 2%;
		text-indent: 0;
		color: #fff;
		text-transform: uppercase;
						padding-left: 24px;
		background-position: left center;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
	}
	.no-touch .cd-filter-trigger:hover {
		color: #f03d6c;
	}
	.cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
		color: #ffffff;
	}
}

/* --------------------------------

custom form elements

-------------------------------- */
.cd-filter-block {
	margin-bottom: 1.6em;
}
.cd-filter-block h4 {
	/* filter block title */
	position: relative;
	margin-bottom: .2em;
	padding: 10px 0 10px 20px;
	color: #9a9a9a;
	text-transform: uppercase;
			-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
	color: #f03d6c;
}
.cd-filter-block h4::before {
	/* arrow */
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 16px;
	height: 16px;
	background: url("https://entrusters.com/templates/yoo_moustache/html/com_entrusters_shop/products/ui-img/cd-icon-arrow.svg") no-repeat center center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
	-webkit-transform: translateY(-50%) rotate(-90deg);
	-moz-transform: translateY(-50%) rotate(-90deg);
	-ms-transform: translateY(-50%) rotate(-90deg);
	-o-transform: translateY(-50%) rotate(-90deg);
	transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
	/* shared style for input elements */  border-radius: 0;
	background-color: #ffffff;
	border: 2px solid #e6e6e6;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
	width: 100%;
	padding: .8em;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
	outline: none;
	background-color: #ffffff;
	border-color: #f03d6c;
}
.cd-filter-block input[type='search'] {
	/* custom style for the search element */
	border-color: transparent;
	background-color: #e6e6e6;
	/* prevent jump - ios devices */
	font-size: 1rem !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
	display: none;
}
.cd-filter-block .cd-select {
	/* select element wrapper */
	position: relative;
}
.cd-filter-block .cd-select::after {
	/* switcher arrow for select element */
	content: '';
	position: absolute;
	z-index: 1;
	right: 14px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
	width: 16px;
	height: 16px;
	background: url("https://entrusters.com/templates/yoo_moustache/html/com_entrusters_shop/products/ui-img/cd-icon-arrow.svg") no-repeat center center;
	pointer-events: none;
}
.cd-filter-block select {
	cursor: pointer;
}
.cd-filter-block select::-ms-expand {
	display: none;
}
.cd-filter-block .list li {
	position: relative;
	margin-bottom: .8em;
}
.cd-filter-block .list li:last-of-type {
	margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
	/* hide original check and radio buttons */
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
	padding-left: 24px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
	/* custom radio and check boxes */
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
	width: 16px;
	height: 16px;
	left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
	/* check mark - hidden */
	display: none;
}
.cd-filter-block .checkbox-label::after {
	/* check mark style for check boxes */
	width: 16px;
	height: 16px;
	background: url("https://entrusters.com/templates/yoo_moustache/html/com_entrusters_shop/products/ui-img/cd-icon-check.svg") no-repeat center center;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
	border-radius: 50%;
}
.cd-filter-block .radio-label::after {
	/* check mark style for radio buttons */
	width: 6px;
	height: 6px;
	background-color: #ffffff;
	left: 5px;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
	border-color: #0090f0;
	background-color: #0090f0;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
	display: block;
}

@-moz-document url-prefix() {
	/* hide custom arrow on Firefox - select element */
	.cd-filter-block .cd-select::after {
		display: none;
	}
}
