.catalog {
	background: #fff;
	padding: 160px 8% 20px;
}
/*
.catalog__paragraph {
	margin: 20px 0;
}

.products__more {
	width: 100%;
	text-align: center;
	margin: 30px auto;
}

.products-nav {
	margin-top: 10px;
	width: 100%
}

.products-nav,
.products-nav__arrow {
	display: flex;
	justify-content: center;
	align-items: center
}

.products-nav__arrow {
	cursor: pointer;
	width: 40px;
	height: 40px
}

.products-nav__arrow svg {
	width: 40%;
	height: 40%
}

.products-nav__label {
	color: #334c5c;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	margin-left: 20px;
	margin-right: 20px
}

@media (min-width:680px) {
	.products-nav {
		display: none
	}

	.products-wrapper {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
} */

.products-wrapper {
	overflow: visible!important;
	display: inline-block;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 20px;
}

.products {
	position: relative;
	margin-top: 0;
	margin-left: 310px;
	margin-right: auto;
	perspective: 1000px;
	background: #0090f0;
	border-radius: 20px;

	width: 80%;
	margin-right: 0;
	transition: all 0.3s;
}

@media (min-width:1100px) {
	.products {
		z-index: 1
	}
}

@-webkit-keyframes o {
	0% {
		width: 0
	}
}

@keyframes o {
	0% {
		width: 0
	}
}

@-webkit-keyframes p {
	0% {
		height: 0
	}

	to {
		height: 1.5em
	}
}

@keyframes p {
	0% {
		height: 0
	}

	to {
		height: 1.5em
	}
}








/* PRODUCT CARD */

.product-card:nth-child(3n-1):last-of-type {
	margin-right: 34.5%;
}

@media all and (min-width: 660px) and (max-width: 1060px) {
	.catalog {
		padding: 120px 8%;
		text-align: center;
		display: flex;
		flex-direction: column;
	}
}

@media all and (min-width: 660px) and (max-width: 960px) {
	.products-wrapper {
		justify-content: center;
	}
}

@media all and (min-width: 660px) and (max-width: 1060px) {
	.products {
		width: 80%;
		margin: 40px auto 0;
	}
}

@media (max-width: 1060px) {
	.catalog {
		padding: 120px 8%;
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	.catalog__heading {
		font-size: 32px;
	}

	.catalog__paragraph {
		margin: 10px 0 20px;
	}

	.product__button {
		font-size: 16px;
	}

	.cd-main-content {
		text-align: left;
	}

	.cd-filter form {
		padding-bottom: 20px !important;
	}

	.cd-filter.filter-is-visible {
		position: static;
		border-radius: 20px;
		width: 100%;
	}

	.products-wrapper {
		padding: 0 10px;
	}

	.product-card__desc {
		font-size: 14px;
		line-height: 16px;
	}
}


@media all and (min-width: 1060px) and (max-width: 1320px) {
	.products {
		width: 80%;
	}

	.products-wrapper {
		padding: 0;
		justify-content: space-around;
	}
}

@media all and (min-width: 900px) and (max-width: 1060px) {
	.products {
		width: 80%;
	}

	.products-wrapper {
		justify-content: space-around;
	}
}

@media all and (max-width: 660px) {
	.products {
		margin: 40px auto 0;
		padding: 20px 10px;
		max-width: 100%;
		width: 100%;
	}

	.products-wrapper {
		justify-content: center;
		padding: 0 0;
	}
}
